* {
  font-family: "Roboto", sans-serif;
}

.title-destination {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin-top: 50px;
}

.slider-destination {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 .25rem .5rem #21212126;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1;
}

.slider-nav a {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: white;
  opacity: .75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 100%;

}

.container-data {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.information {
  width: 20%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options-title {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.options-title i {
  font-size: 20px;
  padding: 10px;

}

.options-title h2 {
  font-size: 15px;
  padding: 20px;
}

.options {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itinerario h2 {
  text-align: center;
  font-size: 50px;
  color: #084c61;
  padding: 20px;
}

.conteiner-list {
  width: 50%;
  padding: 25%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.conteiner-list li {
  padding-bottom: 10px;
  color: #000000b7;
}

strong {
  color: #084c61;
  font-size: 18px;
}

.limit h2 {
  color: #084c61;
  padding: 0%;
}

.limit {
  text-align: center;
  font-size: 30px;
  padding: 0%;
  padding-top: 0%;
}

.limit p {
  color: #000000b7;
  font-size: 18px;
}

.package {
  width: 50%;
  padding: 10%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.package h2 {
  color: #084c61;
}

.package p {
  color: #000000b7;
}

section {
  display: flex;
}

.register-form {
  width: 400px;
  background: url(./assets/img/chalten.jpg) no-repeat 0px 0px;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.register-form h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.info {
  width: 100%;
  background: #323031;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 18px;
  border: 2px solid #177e89;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

.register-form p {
  height: 35px;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
}

.register-form a {
  color: white;
  text-decoration: none;
}

.register-form a:hover {
  color: white;
  text-decoration: underline;
}

.register-form .botons {
  width: 100%;
  background: #323031;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
