/* style footer */

footer{
  width: 100%;
}
.container_footer{
  background-color: #084c61;
  padding: 30px;
  width: 100%;
  margin-left: 0;
}
.box_copyrigth {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 20px;
}

.box_copyrigth p {
  margin-top: 10px;
  color: whitesmoke;
  text-align: center;
}

.box_copyrigth hr {
  border: none;
  height: 1px;
  background-color: whitesmoke;
}
.text_footer{
  color: whitesmoke;
}
.icon_whatsap:hover{
  color: chartreuse;
  zoom: 120%;
}
.icon_git:hover{
  color: black;
  zoom: 120%;
}
.logo{
  width: 100%;
}
.text {
  margin-top: 20px;
  font-weight: 500;
  color: whitesmoke;
  font-size: 18px;
}
.text_carousel{
  font-size: 150px;
}
.map{
  max-width: 280px;
}

@media (max-width:575px){
  .map{
    margin-bottom: 10px;
  }
}
