/* GENERAL STYLES */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
main {
  padding-bottom: 20px;
}
/* START NAVBAR */
header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/img/AEEZ7DMC7ZAGTAX5FNJXSUFPSQ.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  background: transparent !important;
}

.navbar:hover {
  backdrop-filter: blur(10px);
}

header .navbar {
  width: 100%;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand h1 {
  color: #177e89;
  font-size: 40px;
}

.navbar-collapse {
  justify-content: right;
}

.nav-item {
  padding-right: 30px;
}

.nav-link {
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #177e89;
  border: 2px solid;
  border-color: #177e89;
  position: relative;
}

.nav-link:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(0, 0, 0, 0.341);
  transition: 200ms ease;
}

.nav-link:hover:before {
  width: 100%;
}

/* END NAVBAR */
/* START ITINERARY */
.title-destination {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  padding: 30px;
}

.carousel-inner img {
  max-width: 90%;
  margin: 0 auto;
}

.container-data {
  width: 100%;
  min-width: 250px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.information {
  width: 18%;
  min-width: 250px;
  padding: 2px;
  margin: 0 auto;
}

.options-title {
  display: flex;
  padding: 5px;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

.options-title i {
  font-size: 20px;
  padding: 5px;
}

.options-title h2 {
  font-size: 20px;
  padding: 5px;
  margin: 0;
}

.options {
  display: flex;
  justify-content: center;
}

.itinerario h2 {
  text-align: center;
  font-size: 50px;
  color: #084c61;
  padding: 20px;
}

.conteiner-list {
  padding: 25%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.conteiner-list li {
  padding-bottom: 10px;
  color: #000000b7;
}

strong {
  color: #084c61;
  font-size: 18px;
}

.limit h2 {
  color: #084c61;
  padding: 0%;
}

.limit {
  text-align: center;
  font-size: 30px;
  padding: 0%;
  padding-top: 0%;
}

.limit p {
  color: #000000b7;
  font-size: 18px;
}

.package {
  width: 50%;
  padding: 10%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.package h2 {
  color: #084c61;
}

.package p {
  color: #000000b7;
}

section {
  display: flex;
}

.register-form {
  width: 400px;
  background: url(/assets/img/chalten.jpg) no-repeat 0px 0px;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.register-form h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.info {
  width: 100%;
  background: #323031;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 18px;
  border: 2px solid #177e89;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

.register-form p {
  height: 35px;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
}

.register-form a {
  color: white;
  text-decoration: none;
}

.register-form a:hover {
  color: white;
  text-decoration: underline;
}

.register-form .botons {
  width: 100%;
  background: #323031;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
/* END ITINERARY */
/* style footer */

footer {
  width: 100%;
}
.container_footer {
  background-color: #23395b;
  padding: 30px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.box_copyrigth {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 20px;
}

.box_copyrigth p {
  margin-top: 10px;
  color: whitesmoke;
  text-align: center;
}

.box_copyrigth hr {
  border: none;
  height: 1px;
  background-color: whitesmoke;
}
.text_footer {
  color: whitesmoke;
}
.icon_whatsap:hover {
  color: chartreuse;
  zoom: 120%;
}
.icon_git:hover {
  color: black;
  zoom: 120%;
}
.icon_mail:hover {
  color: rgb(248, 71, 71);
  zoom: 120%;
}
.logo {
  width: 100%;
}
.text {
  margin-top: 20px;
  font-weight: 500;
  color: whitesmoke;
  font-size: 18px;
  text-align: start;
}
.text_carousel {
  font-size: 150px;
}
.map {
  max-width: 280px;
}
/**redes**/
.icon_redes {
  height: 150px;
  width: 150px;
  margin: 10px;
}
.icon_redes:hover {
  zoom: 120%;
}
/*? MEDIA QUERIES */
@media (max-width: 575px) {
  .map {
    margin-bottom: 10px;
  }
  .text_footer h2 {
    text-align: center;
  }
}
