/*font*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}


.register-form {
  width: 100%;
  padding: 30px;
  border-radius: 4px;
  color: #177e89;
}

.register-form h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.info {
  width: 100%;
  background: #f4f4fd;
  padding: 15px;
  border: 0;
  border-radius: 25px;
  margin-bottom: 18px;
  outline: none;
}

.register-form p {
  height: 35px;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
}

.register-form a {
  color: #323031;
  text-decoration: none;
}

.register-form a:hover {
  color: white;
  text-decoration: underline;
}

.register-form .botons {
  width: 100%;
  background: #817ffe;
  border: 0;
  border-radius: 25px;
  width: 250px;
  padding: 15px;
  color: white;
  margin-top: 25px;
  font-size: 16px;
  box-shadow: 0 0 20px rgba(201, 199, 253, 0.5);
}
.title_about{
  font-family: "Playball", cursive;
  font-size: 50px;
  color: #23395b;

}
.text_about_form{
  font-family: "Playball", cursive;
  font-size: 35px;
  color: #177e89;  
  font-weight: 50;
}
.image_form{
  height: auto;
  width: 100;
 background-image: url(/assets/img/trabajo\ en\ equipo.jpg);
 background-size: cover;
 background-position-x: 40%;
}
@media (max-width:560px){
  .image_form{
    display: none;
  }
}
