/* Estilos Generales */
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #937666;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}

.section-title {
  font-size: 2rem;
  padding: 15px 0;
}

.section-description {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.black-text {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Main */

.main-container {
  background-color: rgb(198 201 207);
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 7px 13px 37px #0000009d;
}

/* Ruta de Vinos */
.titulo img {
  width: 100%;
}

/* Turismo Enologico */
.oenology {
  color: black;
}

.oenology img {
  width: 100%;
}

.oenology h2{
  font-family: "Playball", cursive;
  font-size: 60px;
  color: #56070C;
}

/* Regiones */
.regions {
  padding: 40px 40px 60px 40px;
}

.regions .region-column {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.regions .region-column:hover {
  color: white;
  background-color: #937666;
}

.regions i {
  font-size: 2.5rem;
  color: red;
  background-color: #fbfcff;
  padding: 8px 19px;
  border-radius: 50%;
}

.regions-title {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-container {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-container span {
  background-color: #56070c !important;
}

.badge {
  margin: 5px;
}

/* Bodegas */
.cellars-visit {
  padding: 40px;
}

.cellars-visit h2,
h3 {
  font-family: "Playball", cursive;
  font-size: 70px;
  color: #56070C;
}

.cellars-visit img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.cellars-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.cellar {
  position: relative;
  height: 210px;
}

.cellar:hover img {
  opacity: 0.2;
}

.cellar:hover .overlay {
  opacity: 1;
}

.overlay .icons-conteiner {
  display: flex;
  flex-direction: column;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

.more-cellars {
  background-color: #56070c;
  color: #fff;
  border-color: #56070c;
}

.more-cellars:hover {
  background-color: #fff;
  color: #56070c;
  border-color: #56070c;
}

.more-cellars:focus {
  background-color: #fff;
  color: #56070c;
  border-color: #56070c;
}

@media screen and (max-width: 412px) {
  .overlay p {
    font-size: 18px;
  }
  .overlay i {
    font-size: 40px;
  }
}
